
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* html {
  font-size: 82.5%;
  color: var(--text-color-1);

  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 56.25em) {
    font-size: 50%;
  }

  @media (max-width: 35.25em) {
    font-size: 45%;
  }

  @media (max-width: 26.43em) {
    font-size: 36.25%;
  }
} */


